---
import PortfolioCompanyCard from './PortfolioCompanyCard.astro';

interface Props {
  title: string;
  caption?: string;
  portfolio: any[];
}

const { title, caption, portfolio } = Astro.props;

const sortedPortfolio = portfolio.sort((a, b) =>
  a.data.name.localeCompare(b.data.name)
);
---

<h3 class="my-8 font-serif text-2xl font-bold text-[var(--pwv-blue)]">
  {title}
  {caption && <span class="text-md font-normal">{caption}</span>}
</h3>
<div
  class="grid grid-cols-2 gap-6 rounded-lg border border-gray-200 bg-neutral-50 p-6 shadow-lg md:grid-cols-3 xl:grid-cols-3"
>
  {
    sortedPortfolio.map((company) => (
      <PortfolioCompanyCard
        name={company.data.name}
        url={company.data.url}
        tags={company.data.tags}
        slug={company.data.slug}
      />
    ))
  }
</div>
