---
import { Image as UnpicImage } from '@unpic/astro';
import { resolveImageSrc } from '../lib/images';
export interface Props {
  name: string;
  title: string;
  company: string;
  quote: string;
  url?: string;
  avatarUrl?: string;
  companySlug: string;
}

const { name, title, company, quote, url, avatarUrl, companySlug } =
  Astro.props;
---

<div class="flex h-full flex-col pb-4 lg:mb-4">
  <blockquote class="text-md non-italic my-4 flex-grow">
    "{quote}"
  </blockquote>
  <div class="flex flex-col">
    <div class="flex items-center gap-3">
      {
        avatarUrl ? (
          <UnpicImage
            src={`${resolveImageSrc(avatarUrl)}`}
            alt={name}
            width={64}
            height={64}
            class="border-pwv-gray border-pwv-green h-16 w-16 rounded-full border object-cover p-1"
          />
        ) : (
          <div class="border-pwv-gray bg-pwv-gray/10 h-16 w-16 rounded-full border" />
        )
      }
      <div class="flex flex-col">
        <cite class="font-mono font-semibold not-italic">
          {name}
        </cite>
        <span class="text-sm">
          {title},{' '}
          {
            url ? (
              <a href={url} class="hover:underline">
                {company}
              </a>
            ) : (
              company
            )
          }
        </span>
      </div>
    </div>
  </div>
</div>
