---

import { getCollection } from 'astro:content';

const testimonials = await getCollection('testimonials');
const sortedTestimonials = testimonials.sort((a, b) =>
  a.data.name.localeCompare(b.data.name)
);
---

<section id="testimonials">
  <h2 class="text-2xl lg:text-3xl font-bold my-4">What Founders Say About Us</h2>

  <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 my-4">
    {
      sortedTestimonials.map((testimonial) => (
        <div class="p-6 bg-gray-50 rounded-lg flex flex-col h-full shadow-md">
          <blockquote class="mb-4 italic flex-grow border-l-4 border-gray-400 pl-4 text-lg">
            "{testimonial.data.quote}"
          </blockquote>
          <div class="flex flex-col mt-auto">
            <cite class="font-semibold not-italic">
              {testimonial.data.name}
            </cite>
            <span class="text-sm text-gray-600">
              {testimonial.data.title},{' '}
              <a
                href={testimonial.data.url}
                class="text-blue-600 hover:underline"
              >
                {testimonial.data.company}
              </a>
            </span>
          </div>
        </div>
      ))
    }
  </div>
</section>
