---
import '../styles/global.css';
import '@fontsource-variable/space-grotesk';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_IMAGE } from '../consts';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const faviconURL = new URL('/favicon.png', Astro.site);
const sitemapURL = new URL('/sitemap-index.xml', Astro.site);
const rssURL = new URL('rss.xml', Astro.site);
const siteImageURL = SITE_IMAGE ? new URL(SITE_IMAGE, Astro.site) : undefined;
const title = SITE_TITLE;
const description = SITE_DESCRIPTION;
---

<!doctype html>
<html lang="en">
	<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/png" href={faviconURL} />
    <meta name="generator" content={Astro.generator} />

    <!-- Font preloads -->

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {siteImageURL && <meta property="og:image" content={siteImageURL} />}

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    {siteImageURL && <meta property="twitter:image" content={siteImageURL} />}

    <script defer data-domain="pwv.com" src="https://plausible.io/js/script.js"
    ></script>

    <title>PWV</title>
	</head>
	<body>
		<slot />
	</body>
</html>
